// base colors
$black: "#212121";
$white: "#fff";

// yellow
$yellow-50: "#FFFBF4";
$yellow-100: "#F0E0C4";
$yellow-200: "#FBCC31";
$yellow-300: "#EEBA0E";
$yellow-400: "#E3B100";
// grey
$grey-100: "#9e9c99";
$grey-200: "#5e5d5b";
$grey-700: "#303030";
// blue
$blue: "#62CCEF";
