@use "breakpoints";

@mixin container($md: 100%, $lg: 100%) {
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem;

  @include breakpoints.screen-l {
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: $md;
  }

  @include breakpoints.screen-xl {
    padding-left: 6rem;
    padding-right: 6rem;
    max-width: $lg;
  }
}

.container {
  @include container(848px, 848px);
}

.container-l {
  @include container(1248px, 1296px);
}

.container-xl {
  @include container(1568px, 1616px);
}
