.button {
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  gap: 0.5rem;
  text-decoration: none;

  .icon {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;

    &::after {
      content: '';
      background-color: $yellow-200;
      background-image: url('/images/icons/arrow-right.svg');
      background-position: center;
      display: block;
      background-repeat: no-repeat;
      border-radius: 100%;
      height: 2.5rem;
      position: absolute;
      transition: all 0.2s cubic-bezier(0.83, 0, 0.17, 1);
      width: 2.5rem;
    }
  }

  .outline {
    transform: rotate(205deg);
    transition: all 0.5s cubic-bezier(0.83, 0, 0.17, 1);
  }

  &:hover {
    .outline {
      transform: rotate(0deg);
    }
  }
}

.button-primary {
  font-weight: 400;
  padding: 0;
  background: transparent;

  &:hover {
    background-color: transparent;

    .icon {
      height: 4rem;
      width: 4rem;

      &::after {
        background-color: $yellow-400;
      }
    }
  }
}

.button-secondary {
  background-color: $black;
  border-radius: 2rem;
  color: $white;
  font-weight: 600;
  gap: 1rem;
  padding: 1rem 2rem;

  .icon {
    &::after {
      height: 17px;
      width: 1.25rem;
      position: static;
      background-color: transparent;
    }
  }

  &:hover {
    color: $white;
    background-color: $yellow-400;
  }

  &:visited {
    color: $white;
  }
}

.button-donate {
  background-color: $white;
  border-radius: 4rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  color: $black;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 2px;
  padding: 1rem 4rem;

  .icon {
    &::after {
      background-color: $yellow-200;
    }
  }

  &:hover {
    background-color: $white;
  }
}
