.header {
  color: $black;
  position: absolute;
  width: 100%;
  z-index: 4;
  overflow: initial;

  &.sticky {
    overflow: hidden;
  }

  .container {
    align-items: center;
    height: 80px;
    display: flex;
    justify-content: space-between;
  }
}
