.call-to-action {
  background-color: $yellow-200;
  margin-top: 5rem;

  &:not(:last-of-type) {
    margin-bottom: 5rem;
  }

  .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5rem;

    @include desktop {
      gap: 10rem;
      flex-direction: row;
    }
  }

  .inner {
    flex: 1;
    max-width: 480;

    @include tablet {
      &.left {
        order: -1;
      }
    }
  }

  .content {
    margin-bottom: 2.5rem;
  }
}
