.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;

  @include tablet {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @include desktop-large {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}