.text-block-with-image {
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;

    @include tablet {
      justify-content: space-between;
      flex-direction: row;
      gap: 5rem;
    }
  }

  .image,
  .editor {
    flex: 1;
    max-width: 480
  }

  .image {

    @include tablet {
      &.right {
        order: -1
      }
    }
  }
}