.donors {
  .logos {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 2.5rem;
    flex-wrap: wrap;
  }

  .logo {
    max-width: 180px;

    img {
      max-width: 100%;
      width: auto;
      height: auto;
      max-height: 80px;
    }
  }
}
