@import 'tailwindcss';

@theme {
  --font-family-base: 'Poppins', monospace;

  /* Colors */
  --color-black: #212121;
  --color-dark-gray: #454545;
  --color-white: #fff;

  --color-yellow-50: #fffbf4;
  --color-yellow-100: #f0e0c4;
  --color-yellow-200: #fbcc31;
  --color-yellow-300: #eec12d;
  --color-yellow-400: #e3b100;

  --color-gray-100: #9e9c99;
  --color-gray-200: #5e5d5b;

  --color-blue-100: #62ccef;

  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1600px;

  /* Container Max Widths */
  --container-xs: 696px;
  --container-sm: 848px;
  --container-md: 1248px;
  --container-lg: 1568px;
}

@layer base {
  html {
    min-height: 100%;
    overflow-x: clip;
    -webkit-text-size-adjust: 100%;
  }

  body {
    background-color: var(--color-white);
    box-sizing: border-box;
    color: var(--color-dark-gray);
    font-family: var(--font-family-base);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    min-height: 100%;
    overflow: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    color: inherit;
    text-decoration: underline;
    transition: 0.2s color ease-in-out;

    &:focus,
    &:hover {
      color: var(--color-black);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-black);
    line-height: 1.15;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: clamp(3.5rem, 3rem + 2vw, 4rem);
  }

  h2 {
    font-size: clamp(3rem, 2.75rem + 1.5vw, 3.5rem);
  }

  h3 {
    font-size: clamp(2rem, 1.75rem + 1.25vw, 2.5rem);
  }

  h4 {
    font-size: clamp(1.5rem, 1.25rem + 1vw, 2rem);
  }

  h5,
  h6 {
    font-size: 1.15rem;
  }

  h6 {
    text-transform: uppercase;
  }
}

@layer utilities {
  /* Text size utilities */
  .text-custom-5xl {
    font-size: clamp(3.5rem, 3rem + 2vw, 5rem);
  }

  .text-custom-4xl {
    font-size: clamp(3.5rem, 3rem + 2vw, 4rem);
  }

  .text-custom-3xl {
    font-size: clamp(3rem, 2.75rem + 1.5vw, 3.5rem);
  }

  .text-custom-2xl {
    font-size: clamp(1.5rem, 1.25rem + 1vw, 2rem);
  }

  .text-custom-xl {
    font-size: clamp(1.25rem, 1.125rem + 0.625vw, 1.5rem);
  }

  .text-custom-l {
    font-size: 1.25rem;
  }

  .text-custom-m {
    font-size: 1rem;
  }

  .text-custom-s {
    font-size: 0.85rem;
  }

  /* Strikethrough utilities */
  .strikethrough-black,
  .strikethrough-yellow,
  .strikethrough-white {
    s {
      text-decoration: none;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: -2.5%;
        height: 1rem;
        z-index: 1;
        width: 105%;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  .strikethrough-black s::after {
    background-image: url('/images/strikethrough-black.svg');
  }

  .strikethrough-white s::after {
    background-image: url('/images/strikethrough-white.svg');
  }

  .strikethrough-yellow s::after {
    background-image: url('/images/strikethrough-yellow.svg');
  }

  /* Underline utilities */
  .underline-white,
  .underline-black,
  .underline-yellow {
    u {
      text-decoration: none;
      position: relative;
      z-index: 1;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -0.5rem;
        height: 1rem;
        z-index: -1;
        width: 105%;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  .underline-black u::after {
    background-image: url('/images/underline-black.svg');
  }

  .underline-white u::after {
    background-image: url('/images/underline-white.svg');
  }

  .underline-yellow u::after {
    background-image: url('/images/underline-yellow.svg');
  }
}

/* Markdown renderer utilities */
.markdown-content {
  padding-left: 0;
  counter-reset: item;
}

.markdown-content li {
  position: relative;
  flex-direction: row;
}

.markdown-content li p {
  display: inline;
}

/* Logo background shape */
.yellow-backdrop {
  &::before {
    @apply block h-150 w-250 bg-yellow-200 absolute;

    content: '';
    left: -500px;
    border-radius: 100% 30% 60% 70% / 50% 40% 70% 70%;
    z-index: -1;
    bottom: 0;
  }
}

/* Desktop menu item underline effect */
.menu-item {
  &::before,
  &::after {
    @apply bg-black bottom-0 w-0 h-[1px] absolute;

    content: '';
    transition: all 0.2s ease-in;
  }
}

.menu-item {
  &::before {
    right: 50%;
  }
  &::after {
    left: 50%;
  }
}

.menu-item {
  &:hover::before,
  &:hover::after,
  &.active::before,
  &.active::after {
    width: 50%;
  }
}

.portable-text {
  p {
    @apply mb-4;
  }

  p + h2,
  p + h3,
  p + h4,
  p + h5,
  p + h6 {
    @apply mt-6;
  }
}

/* Button styles */
.button {
  @apply items-center inline-flex gap-4 no-underline;

  cursor: pointer;

  &:hover {
    .outline {
      transform: rotate(0deg);
    }
  }
}

.button {
  .outline {
    transform: rotate(205deg);
    transition: all 0.5s cubic-bezier(0.83, 0, 0.17, 1);
  }

  .icon::after {
    @apply w-10 h-10 bg-yellow-200 block rounded-full absolute;

    content: '';
    background-image: url('/images/icons/arrow-right.svg');
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s cubic-bezier(0.83, 0, 0.17, 1);
  }
}

/* Button Primary */
.button-primary {
  @apply p-0 bg-transparent text-black;

  .circle {
    stroke: var(--color-black);
  }

  &:hover {
    .icon::after {
      background-color: var(--color-yellow-400);
    }
  }
}

/* Button Secondary */
.button-secondary {
  @apply bg-black rounded-full text-white py-4 px-8 font-semibold justify-center;

  .icon::after {
    @apply h-4 w-4 static bg-transparent;
  }

  &:hover {
    @apply text-white lg:bg-yellow-400;
  }
}

/* Button Donate */
.button-donate {
  @apply bg-white text-black rounded-full p-4 lg:px-16 font-semibold text-xl justify-center;

  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;

  .icon::after {
    @apply bg-yellow-200;
  }

  .circle {
    stroke: var(--color-black);
  }

  &:hover {
    @apply bg-white;
  }
}

/* Mobile menu active link */
.mobile-menu-item {
  @apply text-2xl font-semibold text-center pb-4 relative;
  /* z-index: 1; */

  &.active {
    &::after {
      @apply h-4;
      content: '';

      background-image: url('/images/underline-white.svg');
      position: absolute;
      bottom: 0;
      left: -12%;
      /* height: 1rem; */
      z-index: -1;
      width: 124%;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
