@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap");

html {
  background-color: #fff;
  color: #212121;
  margin: 0;
  font-size: 100%; /* 100% of browser default = 16px */
  font-family:
    "Poppins",
    -apple-system,
    BlinkMacSystemFont,
    "Roboto",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body {
  color: #303030;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 2rem;
}

h1 {
  font-size: 5rem;
  line-height: 1.15;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

section {
  padding-bottom: 10rem;
  padding-top: 10rem;
}

@media screen and (min-width: 768px) {
  section {
    padding-bottom: 15rem;
    padding-top: 15rem;
  }
}
