.footer {
  @include text-s;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;

  @include tablet {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .email {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      gap: 1.5rem;
    }
  }

  .email {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.5rem;

    span {
      font-weight: 600;
    }
  }

  .text {
    color: rgb(94, 93, 91);
    font-size: 0.75rem;
  }
}